<h1 mat-dialog-title>Create connection to Zookeeper</h1>
<mat-dialog-content class="mat-typography">
  <form class="example-form" [formGroup]="form">
    <div class="example-full-width">
      <label><span></span></label>
      <input type="file" name="file"
             formControlName="file" accept="text/zkf" (change)="prepareFile($event)" cdkFocusInitial>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button [mat-dialog-close] mat-button>Cancel</button>
  <button  (click)="uploadAndParseFile()" class="mat-primary" mat-button>Create</button>
</mat-dialog-actions>
