input[type="text"] {
  font-size: 150%;
}

p,span {
  font-size: 120%;
  line-height: 120%;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
