<h1 mat-dialog-title>Create connection to Zookeeper</h1>
<mat-dialog-content class="mat-typography">
  <h3>Tips:</h3>
  <p>Please enter host name or host IP address with <br>
    host port number (mask example: xxx.xxx.xxx.xxx:port).<br>
    If host use standard port - 2181 <br>
    you can enter only host name or IP</p>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label><span>Host alias</span></mat-label>
      <input type="text" matInput placeholder="Name" [(ngModel)]="host.name" name="host" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label><span>Without http://</span></mat-label>
      <input type="text" matInput placeholder="xxx.xxx.xxx.xxx:port" [(ngModel)]="host.address" name="host" cdkFocusInitial>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="host">Create</button>
  <button mat-button [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>
