<h1 mat-dialog-title>ZkMaster Settings</h1>
<mat-dialog-content class="mat-typography main">
  <section class="section">
    <h3>Show icons on toolbar</h3>
    <div *ngFor="let item of innerSettings">
      <mat-checkbox class="margin" [checked]="item.toolbar" (change)="onOff($event, item)">
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.name}}
      </mat-checkbox>
    </div>
  </section>
  <section class="section">
    <h3>Saved bookmarks</h3>
    <div *ngFor="let mark of bookmarks; let ind = index"
         [class.red_and_bold]="mark.button"
         (mouseover)="mark.button = true" (mouseleave)="mark.button = false"
          (click)="deleteBookmark(ind)">
      <mat-icon>bookmark</mat-icon>
      {{mark.host.name}}
      <mat-icon>{{mark.button ? 'delete_outline' : 'delete'}}</mat-icon>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close] cdkFocusInitial>Back</button>
</mat-dialog-actions>
