.toolbar-icons {
  color: aliceblue;
}

.toolbar-zkm {
  display: flex;
  justify-content: space-between;
}

.toolbar-flex {
  display: flex;
  flex-direction: row;
}

.main {
  display: grid;
  margin: 0 15px 0 15px;
  grid-template-columns: [line1] 100% ;
}

.tab {
  min-height: 10px;
}

.main-columns {
  grid-template-columns: [line1] 45%  [line2] 45% !important;
  grid-column-gap: 2%;
}

.marg-span {
  margin: auto;
}
