<mat-toolbar color="primary" class="toolbar-zkm">
  <div class="toolbar-flex">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="marg-span">ZKM Admin edition v0.9.1 Xiaomi Chip And Cool ^_^ !</span>
  </div>

  <div class="toolbar-flex">
    <!--  Extended toolbar  -->
    <ng-container *ngFor="let button of (buttons$ | async)">
      <button *ngIf="button.toolbar"
              mat-menu-item="{{button.toolbar}}" (click)='exeFunc(button.functionName)'>
        <mat-icon class="toolbar-icons" title="{{button.name + '(' + button.title + ')'}}">{{button.icon}}</mat-icon>
      </button>
    </ng-container>
  </div>
</mat-toolbar>

<!--  MENU -->
<mat-menu #menu="matMenu">
  <button *ngFor="let button of (buttons$ | async)"
          mat-menu-item (click)='exeFunc(button.functionName)' title="{{button.title}}">
    <mat-icon>{{button.icon}}</mat-icon>
    <span>{{button.name}}  </span>
  </button>
</mat-menu>

<main class="main" [ngClass]="{'main-columns': dragAndDrop}"  cdkDropListGroup>
  <app-dra-navbar [name]="tab.name" *ngFor="let tab of tabs"
                  (click)="setCurrentTabBar(tab.name)"
                  (emitter)="setCurrentHost($event)"></app-dra-navbar>
</main>

