.toolbar-icons {
  color: aliceblue;
}

.toolbar-zkm {
  display: flex;
  justify-content: space-between;
}

.toolbar-flex {
  display: flex;
  flex-direction: row;
}

.main {
  display: grid;
  grid-template-columns: [line1] 50%  [line2] 50%;
}

.marg-span {
  margin: auto;
}
