.example-spacer {
  flex: 1 1 auto;
}
.toolbar-icons {
  color: aliceblue;
}

.main {
  display: grid;
  grid-template-columns: [line1] 50%  [line2] 50%;
}

.navbar {
  width: 100%;
  height: 20px;
}
