<h1 mat-dialog-title
    class="unselectable">{{data.action ? 'Change Node' : 'Create Node'}}</h1>
<mat-dialog-content class="mat-typography">
  <form class="form area-width" [formGroup]="form">
    <p>Node Path:</p>
    <p style="font-weight: bold;">{{path()}}
      {{path() === '/' ? '' : '/'}}
      <span style="color: darkred;">{{form.value.name}}</span>
      {{form.value.value.length > 0 ? ':' : ''}}
      <span style="color: darkred;">{{form.value.value}}</span></p>
    <mat-divider></mat-divider>
    <br>
    <mat-form-field class="full-width area-width">
      <mat-label><span>Name</span></mat-label>
      <input matInput
             placeholder="name"
             formControlName="name"
             cdkFocusInitial>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width area-width area-height">
      <mat-label><span>Value</span></mat-label>
      <textarea matInput
                class="area-height"
                placeholder="value"
                formControlName="value"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="submit()"
          [disabled]="disabled()">{{data.action ? 'Change' : 'Add'}}</button>
  <button mat-button [mat-dialog-close]>Back</button>
</mat-dialog-actions>
