<mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
          class="tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node flex-checkbox">
      <section>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button></button>
        <span [ngClass]="{'new_nodes': !(beInAddPathList(node) || beInUpdatePathList(node)) && beInAccessList(node),
                    'note_add_nodes': (beInAddPathList(node) || beInUpdatePathList(node)) && beInAddList(node)}">
          {{node.name}}{{node.value ? ' : ' + node.value : ''}}
      </span>
      </section>
      <section *ngIf="beInAccessList(node)">
        {{nodeCurrentStatus(node)}} <mat-checkbox [name]="node.path"
                                                  [checked]="!(beInAddPathList(node) || beInUpdatePathList(node)) && beInAccessList(node)"
                                                  [disabled]="checkDisable(node)"
                                                  (change)="changeChecker($event, node)"></mat-checkbox>
      </section>
    </li>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle>
    <li>
      <div class="mat-tree-node flex-checkbox">
        <section>
          <button mat-icon-button>
            <mat-icon class="mat-icon-rtl-mirror">
              {{'expand_more'}}
            </mat-icon>
          </button>
          <span [ngClass]="{'new_nodes': !(beInAddPathList(node) || beInUpdatePathList(node)) && beInAccessList(node),
                    'note_add_nodes': (beInAddPathList(node) || beInUpdatePathList(node)) && beInAddList(node)}">
         {{node.name}}{{node.value ? ' : ' + node.value : ''}}
       </span>
        </section>
        <section *ngIf="beInAccessList(node)">
          {{nodeCurrentStatus(node)}} <mat-checkbox [name]="node.path"
                                                    [checked]="!(beInAddPathList(node) || beInUpdatePathList(node)) && beInAccessList(node)"
                                                    [disabled]="checkDisable(node)"
                                                    (change)="changeChecker($event, node)"></mat-checkbox>
        </section>

      </div>
      <ul>
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
