<div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="tab.hosts" class="tabbar"
     (cdkDropListDropped)="drop($event)">
  <div class="tab" *ngFor="let host of tab.hosts; index as ind"
       cdkDrag
       title="Right click - context menu"
       [class.chosen]="currentTree === host.address"
       (click)="chooseHost(host, ind)"
       (contextmenu)="tabMenuAction($event, host, ind)">
    <div class="tab-gap"></div>
    <div class="tab-text">
      {{host.name | uppercase}}
    </div>
    <div class="tab-gap"></div>
    <div class="tab-close" (click)="refreshTab(host)">
      <mat-icon>refresh</mat-icon>
    </div>
    <div class="tab-close" (click)="closeTab(host, ind)">
      <mat-icon>close</mat-icon>
    </div>

  </div>
</div>
<app-tree-elem *ngIf="currentTree.length > 0" [loadHost]="currentTree"></app-tree-elem>

<div style="visibility: hidden; position: fixed"
     [style.left]="tabMenuPosition.x"
     [style.top]="tabMenuPosition.y"
     [matMenuTriggerFor]="tabMenu">
</div>
<mat-menu #tabMenu="matMenu">
  <ng-template matMenuContent let-host="host" let-ind="index">
    <button mat-menu-item (click)="addToBookmarks(host)">Add to Bookmarks</button>
    <button mat-menu-item (click)="closeTab(host, ind)">Close tab</button>
  </ng-template>
</mat-menu>

