<h1 mat-dialog-title>Copy-Past Options</h1>
<mat-dialog-content class="mat-typography main" *ngIf="(addNodeList.length + updateNodeList.length) !== 0; else nothing">
  <app-simple-tree [zkNode]="unitedTreeModel"
                   [updateList]="updateNodeList"
                   [addList]="addNodeList"
  (checkerEvent)="changeUnitedTree($event)"></app-simple-tree>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [mat-dialog-close] mat-button>Cancel</button>
  <button [mat-dialog-close] mat-button (click)="submit()">Do It</button>
</mat-dialog-actions>

<ng-template #nothing>
  <mat-dialog-content class="mat-typography main">
    <p>There aren't any nodes to copy/past</p>
  </mat-dialog-content>
</ng-template>
